.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contenedor {
    width: 1440px;
    margin: 0 auto; }


body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color:#00080E;
    text-align: center;
}

.border-menu{
    background-color:#000215;
    height: 105px;
}

#iconos img{
    width: 104px;
    height: 31px;
}

#iconos img{
    padding-top:43px;
    padding-bottom:32px;
    padding-left: 104px;
    margin-right: 598px;
    float: left;
}

.menu .menu-list{
    float:rigth;
    position:relative; 
    margin-top: 48px;
}

.menu-list{
    margin: 4% 0 0 0;
    padding: 0
}

.menu-list li a{
    color:#FEFFFF;
    font-size:16px;
}

.menu-list li + li{
    margin-left: 43px;
}

.menu-list li a{
    float: left;
}
.menu-list, .footer-list{
    list-style: none;
}

.menu-list li a, .footer-list li a{
    text-decoration:none;
}


/*paquetes box-img*/
.box-img{
    width:22%;
}

.box-img{
    width: 100%;
    max-width: 100%;
    float: left;
    background-color:ghostwhite; /*para poder ver el fondo y ponerle padding o margin*/ 
}

.box-img a, .box-img img{
    display: block;
}

.box-img + .box-img{
    margin-left: 3%;
}






/*footer*/

.footer{
    background-color: #171717;
    text-align: center;
    height: 236px;
}


.footer-list{
    float: left;
}  

.footer-list li{
    padding-left:500px;
}

.footer-list li a{
    color: #FEFFFF;
    font-size: 15px;
}


.footer-list a{
    padding-left: 40px;
}

#footer-logo-fb{
    padding-top: 42px;
    padding-bottom: 49px;
}

#credits span {
    margin: 0;
    padding-bottom: 43px;
    color: #FEFFFF;
}