.main{
	background-color: ghostwhite;
	text-align: center;
}

h2{
	color:$bg-color-boximage;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-top: 60px;
}

//espacios bajos entre las imagenes
.box-img + .box-img{
	padding-bottom: 61px;
}


.box-img{
	padding-left: 83px;
	padding-top: 54px;
}

.box-img{
	position: relative;
	float: left;
}

.box-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.box-img a + a{
	padding-left: 41px;
}

.description{
	height: 60px;
	width: 398px;
	font-size: 35px;
	position: absolute;
}

.description{
	background-color: rgba(0, 0, 0, 0.575);
}

.read-more{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.575);
	font-size: 19px;
}