.footer{
    background-color: #171717;
    text-align: center;
}

.footer-list li{
    padding-left:500px;
}

.footer-list{
    float: left;
}   
    li a{
        color:$color-text;
    }

.footer-list a{
    padding-left: 40px;
}

#footer-logo-fb{
    padding-top: 42px;
    padding-bottom: 49px;
}

#credits span {
    margin: 0;
    padding-bottom: 43px;
    color: $color-text;
}