// global

body{
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}