// variables

//COLORES
$colorMenu:#000215;
$color-text: #FEFFFF;
$color-paquetes: #271E3F;
$bg-color-footer: #171717;
$box-img-bgcolor: #FFFFFF;
$bg-color-boximage: #00080E;


//CARACTERÍSTICAS DE LAS IMAGENES
$box-img-heigth:266px;
$box-img-width:398px;
$padding-bottom:52px;
$padding-left:39px;

//ICONOS MENU

$icono-menuW:104px;
$icono-menuH:30px;

//FB MENU
$fb-menuH:24px;
$fb-menuW:24px;